.site-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0 14px 8px;
  text-align: center;
  color: white;
  z-index: 25;
  user-select: none;
  pointer-events: none;
}

.site-footer small,
.site-footer-links {
  pointer-events: auto;
}

.site-footer small {
  font-size: 13px;
}

.site-footer-links {
  margin-top: 10px;
}

.site-footer img {
  margin: 0 10px;
  filter: invert(100%);
}

.site-footer-instagram,
.site-footer-facebook {
  width: 15px;
}

.site-footer-youtube {
  width: 19px;
}

@media (max-width: 640px) {
  .site-footer {
    padding-bottom: 5px;
  }

  .site-footer small {
    display: block;
    font-size: 10px;
    line-height: 1.4;
  }

  .site-footer-links {
    margin-top: 5px;
  }

  .site-footer img {
    margin: 0 7px;
  }
}
